<li>
	{{burger_name}}

	<button class="change-ready" data-id="{{id}}" data-newready="{{devour}}">
		{{#if devour}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
